<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="/">Serba Aneka</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        {% comment %} <a href="/" class="logo mr-auto"><img src="img/original-logo.png" alt=""
                class="img-fluid"></a> {% endcomment %}
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="#">E-Commerce</a></li>
                <li><a href="#">Digital Life</a></li>
                <li><a href="#">Investasi</a></li>
                <li><a href="#">Pertanian</a></li>
                <li><a href="#advanced-promo">Promo</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->
